{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BirdBrain</title>
        {% tailwind_css %}

        <style>
         @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;400;500;600;700;800;900&display=swap');
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>

	  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
        <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
            <!-- Left column -->
            <div class="flex flex-col w-full md:w-64 text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0 py-4">
                <a href="{% url 'home' %}" class="text-center text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">Birdbrain</a>

                <div class="py-4">
                    <ul class="menu py-4 bg-base-100">
                        <li class="menu-title">
                            <span>
                                Notes
                            </span>
                        </li>
                        <li class="bordered">
                            <a href="{% url 'notes-note-create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                                </svg>
                                New Note
                            </a>
                        </li> 
                        <li class="hover-bordered">
                            <a href="{% url 'notes-note-list' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current"> 
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                                </svg>
                                Notes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right column -->
            <div class="flex flex-col w-full bg-white">
                {% block content %}
		            <div class="container mx-auto">
			              <section class="flex items-center justify-center h-screen">
				                <h1 class="text-5xl">Hello?</h1>
			              </section>
		            </div>
                {% endblock %}
            </div>
        </div>
	  </body>

</html>



