{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<h2>{{ literal.label }}</h2>

<hr>

<h2>As Subject</h2>

<ul class="mb-4">
    {% for statement in literal.statements_subjects.all %}
    <li>
        {{ statement.subject.label }}
        {{ statement.predicate.label }}
        <a class="link" href="{% url 'notes-literal-detail' statement.object.id %}">{{ statement.object.label }}</a>
        {% if statement.notes.count > 0 %}
        [
        {% for note in statement.notes.all %}
        <a class="link" href="{% url 'notes-note-detail' note.id %}">ref</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
        ]
        {% endif %}
    </li>
    {% endfor %}
</ul>

<h2>As Object</h2>

<ul class="mb-4">
    {% for statement in literal.statements_objects.all %}
    <li>
        <a class="link" href="{% url 'notes-literal-detail' statement.subject.id %}">{{ statement.subject.label }}</a>
        {{ statement.predicate.label }}
        {{ statement.object.label }}
        <a class="link" href="{% url 'notes-literal-detail' statement.object.id %}">{{ statement.object.label }}</a>
        {% if statement.notes.count > 0 %}
        [
        {% for note in statement.notes.all %}
        <a class="link" href="{% url 'notes-note-detail' note.id %}">ref</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
        ]
        {% endif %}
    </li>
    {% endfor %}
</ul>


{% endblock %}
