{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{% url 'notes-note-create' %}" class="w-full mx-auto  h-full">
    {% csrf_token %}
        <div class="form-control inline">
            <button class="btn btn-primary m-3" type="submit">Save</button>
            <input type="text" name="source" placeholder="source" class="input input-secondary input-bordered">
        </div>

    <div class="p-10 h-full">
        <textarea autofocus class="resize-none h-full text-6xl w-full border-0 outline-none focus:ring-0 focus:outline-none" name="content"></textarea>
    </div>

</form>


{% endblock %}
