{% extends 'base.html' %}

{% block content %}

<div class="flex w-full mx-auto h-2/3 items-center">
    <div class="w-2/3 mx-auto pb-1/3">
        <form method="POST" class="form-control inline" action="{% url 'documents-document-import' %}">
            {% csrf_token %}
            <label class="label">
                <span class="label-text text-lg">Web Address</span>
            </label> 
            <input type="text" name="uri" placeholder="ex: http://example.com/b2" class="input input-bordered w-10/12">
            <button class="btn btn-primary w-auto" type="submit">Import</button>
        </form>

        <div class="divider text-gray-500 w-1/4">OR</div> 

        <!-- File upload -->
        <form method="POST" class="form-control inline" action="{% url 'documents-document-upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="label">
                <span class="label-text text-lg">File Upload (mp3 only atm)</span>
            </label> 
            <input type="file" name="file" placeholder="ex: big_talk.mp3" class="input input-bordered w-10/12">
            <button class="btn btn-primary w-auto" type="submit">Upload</button>
        </form>
    </div>

</div>


{% endblock %}
